<mat-toolbar class="header">
    <span>
        <a routerLink="/">
            <img class="logo" src="assets/safe.png" alt="logo">
        </a>
    </span>
    <span class="title-group">
        <a routerLink="/">
            Home
        </a>
    </span>
    <span class="title-group">
        <a routerLink="/tools">
            Tools
        </a>
    </span>
    <span class="title-group">
        <a routerLink="/media">
            Other Media
        </a>
    </span>
    <span class="title-group">
        <a routerLink="/contact">
            Contact
        </a>
    </span>
</mat-toolbar>